* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: relative;
    width: 420px;
    height: 426px;
    box-shadow: 0 2px 8px rgba(40, 41, 61, 0.08),
    0px 20px 32px rgba(96, 97, 112, 0.24);
    border-radius: 20px;
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    
}

.modal-container h1 {
    display: flex;
    align-items: center;
    width: 356px;
    height: 32px;
    margin-bottom: 24px;
    font-weight: 800;
    
}

.modal-container .input-text  {
    border: 1px solid#FFE44D;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 16px;
    width: 356px;
    height: 48px;
    margin-bottom: 8px;
    font-weight: 400;
}

.modal-container .input-password {
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 16px;
    width: 356px;
    height: 48px;
    margin-bottom: 24px;
    font-weight: 400;
}

.modal-container p {
    width: 356px;
    height: 42px;
    color: #7b8e98;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 24px;
    font-weight: 400;
}

.modal-container .reg-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    width: 356px;
    height: 48px;
    border: 1px solid #FFE44D;
    background-color: #FFE44D;
    border-radius: 555px;
    cursor: pointer;
    margin-bottom: 8px;
}

.modal-container .log-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    width: 356px;
    height: 48px;
    border-radius: 555px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #CFD8DC;
}

.modal-container .reg-text, .log-text {
    font-weight: 700;
    font-size: 16px;
}

.modal-container .close-button {
    width: 14px;
    height: 14px;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    color: #1A1A1A;
    background: none;
    border: none;
    font-weight: 900;   
}
